# Where do I walk?
## Using RAPIDS to determine the shortest walking distance

## Load the modules

In [1]:
import cudf
import cuspatial
import nvstrings
import nvtext
from collections import OrderedDict
import numpy as np
import datetime as dt
import cugraph

%load_ext autotime

## Read in the data

In [2]:
dtypes = OrderedDict([
    ('OccupancyDateTime', 'date'),
    ('PaidOccupancy', 'int64'),
    ('BlockfaceName', 'str'),
    ('SideOfStreet', 'str'),
    ('SourceElementKey', 'int64'),
    ('ParkingTimeLimitCategory', 'int64'),
    ('ParkingSpaceCount', 'int64'),
    ('PaidParkingArea', 'str'),
    ('PaidParkingSubArea', 'str'),
    ('PaidParkingRate', 'int8'),
    ('ParkingCategory', 'str'),
    ('Location', 'str'),
    ('dow', 'int8')
])

df = cudf.read_csv(
    '../data/parking_MayJun2019.csv'
    , skiprows=1
    , dtype=list(dtypes.values())
    , names=list(dtypes.keys())
)

df = df[['SourceElementKey', 'Location']]

time: 6.59 s

In [3]:
def extractLon(location):
    lon = location.str.extract('([0-9\.\-]+) ([0-9\.]+)')[0]
    return lon.str.stod()

def extractLat(location):
    lon = location.str.extract('([0-9\.\-]+) ([0-9\.]+)')[1]
    return lon.str.stod()

time: 659 µs

In [4]:
df['longitude'] = extractLon(df['Location'])
df['latitude'] = extractLat(df['Location'])

time: 10 s

In [8]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="todrabas_test")
location = geolocator.geocode("400 Broad St, Seattle, WA 98109") # SPACE NEEDLE

df['LON_Ref'] = location.longitude
df['LAT_Ref'] = location.latitude

time: 1.04 s

## Compare speed of cuspatial with vanilla Python Haversine

In [9]:
print('Total number of rows: {0}'.format(df.count()[0]))

Total number of rows: 48675039
time: 4.94 ms

In [10]:
from math import sin, cos, sqrt, atan2, pi

def calculateDistance(latitude, longitude, LAT_Ref, LON_Ref, Distance_Python):
    for i, (theta_1, phi_1, theta_2, phi_2) in enumerate(zip(latitude, longitude, LAT_Ref, LON_Ref)):
        temp = (sin((theta_2-theta_1)/2*pi/180)**2
               + cos(theta_1*pi/180)*cos(theta_2*pi/180) * sin((phi_2-phi_1)/2*pi/180)**2)
        Distance_Python[i] = 2 * atan2(sqrt(temp), sqrt(1-temp)) * 3958.8

time: 3.14 ms

In [11]:
df = df.apply_rows(
    calculateDistance
    , incols=['latitude', 'longitude', 'LAT_Ref', 'LON_Ref']
    , outcols={'Distance_Python':np.float64}
    , kwargs={}
    , pessimistic_nulls=False
)

time: 567 ms

In [12]:
distances = cuspatial.haversine_distance(df['longitude'], df['latitude'], df['LAT_Ref'], df['LON_Ref'])

time: 31.7 ms

## As crow flies vs as people walk

### Get the parking locations

In [13]:
locations = df[['SourceElementKey', 'longitude', 'latitude']].drop_duplicates()
locations.head()

      SourceElementKey   longitude   latitude
4080              1001 -122.334694  47.602873
1336              1002 -122.334513  47.602949
4455              1006 -122.335143  47.603674
1026              1009 -122.336658  47.605018
3208              1010 -122.336447  47.605101

time: 711 ms

In [14]:
del df ## free up the GPU memory

time: 11 ms

### Read in the graph data
Thanks to John Murray for analyzing the map of King County roads and producing the data we will now use.

#### Download and unpack the data

In [15]:
import os

directory  = os.path.exists('../data')
archive    = os.path.exists('../data/king_county_road_graph_20190909.tar.gz')
file_graph = os.path.exists('../data/king_county_road_graph_20190909.csv')
file_nodes = os.path.exists('../data/king_county_road_nodes_20190909.csv')

if not directory:
    os.mkdir('../data')

if not archive:
    import wget, shutil
    
    wget.download('http://tomdrabas.com/data/seattle_parking/king_county_road_graph_20190909.tar.gz')
    shutil.move('king_county_road_graph_20190909.tar.gz', '../data/king_county_road_graph_20190909.tar.gz')
    
if not file_graph or not file_nodes:
    import tarfile

    tf = tarfile.open('../data/king_county_road_graph_20190909.tar.gz')
    tf.extractall(path='../data/')

time: 1.26 ms

In [16]:
!head ../data/king_county_road_graph_20190909.csv

node1,node2,LENGTH
89108,27652,5.02825
27652,89108,5.02825
27652,122930,112.417
122930,27652,112.417
36778,36779,48.2475
36779,36778,48.2475
26559,26559,48.3425
26559,26559,48.3425
2634,78382,372.325
time: 535 ms

In [17]:
!head ../data/king_county_road_nodes_20190909.csv

NodeID,Lon,Lat
1,-121.431505,47.331052
2,-121.430642,47.334726
3,-121.404812,47.288757
4,-121.408953,47.289157
5,-121.432249,47.292963
6,-121.432702,47.294297
7,-121.432724,47.329542
8,-121.367462,47.290593
9,-121.360285,47.29045
time: 520 ms

#### Let's read the road data

In [18]:
road_graph_data = cudf.read_csv('../data/king_county_road_graph_20190909.csv')
road_graph_data['node1'] = road_graph_data['node1'].astype('int32')
road_graph_data['node2'] = road_graph_data['node2'].astype('int32')
road_graph_data['LENGTH'] = road_graph_data['LENGTH'] * 3 # convert to feet as the LENGHT was given in yards

time: 27.4 ms

In [19]:
road_nodes = cudf.read_csv('../data/king_county_road_nodes_20190909.csv')
road_nodes['NodeID'] = road_nodes['NodeID'].astype('int32')

time: 34.1 ms

Store the maximum of the `NodeID` so we can later append the parking nodes.

In [20]:
nodeId = road_nodes['NodeID'].max()
parking_nodes_idx = road_nodes['NodeID'].max() ## retain it so we can later filter the results to only parking locations
nodeId

127380

time: 2.2 ms

Move all the parking locations to host (via `.to_pandas()` method) so we can loop through all the ~1500 parking locations. Here, we also create an empty DataFrame that will hold the parking location nodes.

In [21]:
parking_locations = locations.to_pandas().to_dict('records')
parking_locations_nodes = cudf.DataFrame(columns=['NodeID', 'Lon', 'Lat', 'SourceElementKey'])

time: 14.2 ms

Let's process the parking data. In this naive approach we simply search for 3 closest road intersections to the parking location. We will then add two edges to the overall graph that link the parking node to the nearest intersection. This approach currently is producing some artifacts but we will deal with this in the future; in this example we want to simply explore the efficacy of finding the shortest path between the nodes in the graph.

In [22]:
for loc in parking_locations:
    nodeId = nodeId + 1

    ### calculate the distances to the road intersections
    road_nodes['Lon_REF'] = loc['longitude']
    road_nodes['Lat_REF'] = loc['latitude']
    road_nodes['Distance'] = cuspatial.haversine_distance(
          road_nodes['Lon']
        , road_nodes['Lat']
        , road_nodes['Lon_REF']
        , road_nodes['Lat_REF']) * 0.621371 * 5280 # distance in feet as cuspatial returns kilometers

    nearest = road_nodes.nsmallest(3, 'Distance') # connect to the nearest 3 intersections
    nearest['node2'] = nodeId
    nearest = nearest[['NodeID', 'node2', 'Distance']].rename({'NodeID': 'node1', 'Distance': 'LENGTH'})
    road_graph_data = cudf.concat([road_graph_data, nearest]) ## append to the road_graph_data DataFrame

    ### add the parking node with its own unique NodeID
    rec = {'NodeID': nodeId, 'Lon': loc['longitude'], 'Lat': loc['latitude'], 'SourceElementKey': loc['SourceElementKey']}
    parking_locations_tmp = cudf.DataFrame(rec)
    parking_locations_nodes = cudf.concat([parking_locations_nodes, parking_locations_tmp])

time: 1min 4s

Let's have a look a the `parking_locations_nodes`.

In [23]:
parking_locations_nodes.head()

   NodeID         Lon        Lat  SourceElementKey
0  127381 -122.334694  47.602873              1001
0  127382 -122.334513  47.602949              1002
0  127383 -122.335143  47.603674              1006
0  127384 -122.336658  47.605018              1009
0  127385 -122.336447  47.605101              1010

time: 20.5 ms

Now we can find the nearest intersections from the Space Needle!

In [24]:
road_nodes = (
    cudf
    .concat([road_nodes[['NodeID', 'Lon', 'Lat']], parking_locations_nodes])
    .reset_index(drop=True)
)

road_nodes['Lon_REF'] = location.longitude
road_nodes['Lat_REF'] = location.latitude

road_nodes['Distance'] = cuspatial.haversine_distance(
          road_nodes['Lon']
        , road_nodes['Lat']
        , road_nodes['Lon_REF']
        , road_nodes['Lat_REF']) * 0.621371 * 5280

space_needle_to_nearest_intersection = road_nodes.nsmallest(5, 'Distance') ### Space Needle is surrounded by around 5 road intersections hence we add 5
space_needle_to_nearest_intersection_dist = space_needle_to_nearest_intersection['Distance'].to_array()[0]

space_needle_to_nearest_intersection['node1'] = nodeId + 1
space_needle_to_nearest_intersection = (
    space_needle_to_nearest_intersection
    .rename({'NodeID': 'node2', 'Distance': 'LENGTH'})
    [['node1', 'node2', 'LENGTH']]
)
road_graph_data = cudf.concat([space_needle_to_nearest_intersection, road_graph_data])
space_needle_to_nearest_intersection ### SHOW THE EDGES

         node1   node2      LENGTH
47756   128854   47757  175.906391
80448   128854   80449  200.062128
96739   128854   96740  261.056715
108797  128854  108798  277.221141
47827   128854   47828  301.715490

time: 115 ms

### The road graph

In [25]:
road_graph_data = road_graph_data.reset_index(drop=True)
road_graph_data['node1'] = road_graph_data['node1'].astype('int32')
road_graph_data['node2'] = road_graph_data['node2'].astype('int32')

sources      = cudf.Series(road_graph_data['node1'])
destinations = cudf.Series(road_graph_data['node2'])
distances    = cudf.Series(road_graph_data['LENGTH'])

g = cugraph.Graph()
g.add_edge_list(sources, destinations, distances)

time: 4.15 ms

Now we can use the `.sssp(...)` method from `cugraph` to find the shortest distances to parking spots from the Space Needle!

In [26]:
all_distances = cugraph.sssp(g, nodeId + 1)
distances = all_distances.query('vertex > @parking_nodes_idx and vertex < @nodeId + 1 and distance < 1000')

distances

        vertex    distance  predecessor
127585  127585  471.997029        47828
127586  127586  451.645186        47828
127666  127666  955.897882        47799
127667  127667  962.550373        47799
127822  127822  956.144368        47832
127823  127823  934.605847        47832
127912  127912  771.775981        47829
127913  127913  770.279039        47829
128160  128160  909.096479        47830
128161  128161  520.101226        47828
128223  128223  959.897433        47830
128224  128224  957.417489        47830
128313  128313  850.226265        47797
128506  128506  755.699182        47756

time: 174 ms

`cugraph` returns a DataFrame with vertex, distance to that vertex, and the total distance traveled to that vertex from the `nodeId + 1` node -- the Space Needle. Here, we unfold the full path.

In [27]:
# unfold -- create the whole path
closest_node = nodeId + 1
parking_cnt = distances['vertex'].count()

for i in range(parking_cnt):
    print('Processing record: {0}'.format(i))
    parking_node = distances.iloc[i]
    vertex = int(parking_node[0])
    predecessor = int(parking_node[2])
    
    if i == 0:
        paths = all_distances.query('vertex == @vertex')
    else:
        paths = cudf.concat([all_distances.query('vertex == @vertex'), paths])

    while vertex != closest_node:
        temp = all_distances.query('vertex == @predecessor')
        paths = cudf.concat([temp, paths])
        predecessor = temp['predecessor'].to_array()[0]
        vertex = temp['vertex'].to_array()[0]

Processing record: 0
Processing record: 1
Processing record: 2
Processing record: 3
Processing record: 4
Processing record: 5
Processing record: 6
Processing record: 7
Processing record: 8
Processing record: 9
Processing record: 10
Processing record: 11
Processing record: 12
Processing record: 13
time: 1.14 s

### Charting the paths

In [28]:
paths['vertex'] = paths['vertex'].astype('int64')
paths['predecessor'] = paths['predecessor'].astype('int64')
paths = paths.drop_duplicates()

### process the data so we get the Lat/Lon back for both src and dest
### then move to host
paths_host = (
    paths
    .rename({'vertex': 'NodeID'})
    .merge(road_nodes[['NodeID', 'Lat', 'Lon']], on='NodeID', how='left')
    .rename({'NodeID': 'vertex', 'predecessor': 'NodeID'})
    .merge(road_nodes[['NodeID', 'Lat', 'Lon']], on='NodeID', how='left')
    .fillna({'Lat_y': location.latitude, 'Lon_y': location.longitude})
    [['vertex', 'Lat_x', 'Lon_x', 'Lat_y', 'Lon_y']]
    .query('vertex < @nodeId + 1')
    .to_pandas()
)

    vertex      Lat_x       Lon_x      Lat_y       Lon_y
0    47756  47.620906 -122.347603  47.620906 -122.348736
1    47797  47.620905 -122.347358  47.620906 -122.347603
2    47799  47.620901 -122.346298  47.620905 -122.347358
3    47829  47.619735 -122.347581  47.619742 -122.348860
4    47830  47.618574 -122.348924  47.619742 -122.348860
5    47832  47.618390 -122.348900  47.618574 -122.348924
6   127585  47.619804 -122.348174  47.619742 -122.348860
7   127586  47.619679 -122.348258  47.619742 -122.348860
8   127666  47.620966 -122.345670  47.620901 -122.346298
9   127667  47.620826 -122.345645  47.620901 -122.346298
10  127822  47.618009 -122.348573  47.618390 -122.348900
11  127823  47.618146 -122.348466  47.618390 -122.348900
12  127912  47.619808 -122.346958  47.619735 -122.347581
13  127913  47.619666 -122.346963  47.619735 -122.347581
14  128160  47.619064 -122.349040  47.618574 -122.348924
15  128161  47.619145 -122.348791  47.619742 -122.348860
16  128223  47.618060 -122.349479  47.618574 -122.348924
17  128224  47.617998 -122.349296  47.618574 -122.348924
18  128313  47.620315 -122.346443  47.620905 -122.347358
19  128506  47.620150 -122.347713  47.620906 -122.347603
20   47828  47.619742 -122.348860  47.620513 -122.349304
21   80449  47.620906 -122.348736  47.620513 -122.349304

time: 140 ms

Get the information about the parking spots so we can create info boxes.

In [29]:
distances['vertex'] = distances['vertex'].astype('int64')
distances_host = (
    distances
    .rename({'vertex': 'NodeID'})
    .merge(road_nodes[['NodeID', 'Lat', 'Lon', 'SourceElementKey']], on='NodeID')
    [['SourceElementKey', 'Lat', 'Lon', 'distance']]
    .to_pandas()
#     .to_dict('records')
)

distances_host

    SourceElementKey        Lat         Lon    distance
0              75173  47.620150 -122.347713  755.699182
1              54985  47.618060 -122.349479  959.897433
2              54986  47.617998 -122.349296  957.417489
3              13129  47.620966 -122.345670  955.897882
4              13130  47.620826 -122.345645  962.550373
5              33741  47.619808 -122.346958  771.775981
6              33742  47.619666 -122.346963  770.279039
7              58381  47.620315 -122.346443  850.226265
8              51494  47.619145 -122.348791  520.101226
9              51493  47.619064 -122.349040  909.096479
10             28961  47.618009 -122.348573  956.144368
11             28962  47.618146 -122.348466  934.605847
12             11133  47.619804 -122.348174  471.997029
13             11134  47.619679 -122.348258  451.645186

time: 22 ms

In [30]:
info_box_template = """
<dl>
<dt>SourceElementKey</dt><dd>{SourceElementKey}</dd>
<dt>Distance</dt><dd>{distance:.0f} ft.</dd>
</dl>
"""

parking_info = [info_box_template.format(**parking) for parking in distances_host.to_dict('records')]

time: 941 µs

And... plot!

In [32]:
import gmaps
# import gmaps.datasets
gmaps.configure(api_key="AIzaSyAwpMogOOjXEFjmBNPqNQKuWQgFjv8bdUY") # Your Google API key, go to https://console.developers.google.com

parking_layer = gmaps.symbol_layer(
    distances_host[['Lat', 'Lon']], fill_color="green", stroke_color="green", scale=3, info_box_content=parking_info
)

destinations_layer = gmaps.symbol_layer(
    [[location.latitude, location.longitude]]
    , info_box_content=['DESTINATION']
    , scale=5
    , fill_color="red"
    , stroke_color="red"
)

lines_layer = gmaps.drawing_layer(features=[
    gmaps.Line(
          start = (path['Lat_x'], path['Lon_x'])
        , end   = (path['Lat_y'], path['Lon_y'])
        , stroke_weight=2
        , stroke_color="red"
    )
    for path in paths_host.to_dict('records')]
)

fig = gmaps.figure(layout={'height': '500px'})
fig.add_layer(parking_layer)
fig.add_layer(destinations_layer)
fig.add_layer(lines_layer)
fig

Figure(layout=FigureLayout(height='500px'))

time: 81.4 ms